{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'CSS/insert.css' %}" />
<h1>Update Trainee {{ trainee.id }}</h1>

<form method="post" enctype="multipart/form-data">
  <!-- ده بتاع الحمايه  -->
  {% csrf_token %}
  <label for="trname"> Name: </label>
  <input
    type="text"
    id="trname"
    name="trname"
    required
    value="{{ trainee.name }}"
  />
  <br /><br />
  <label for="tremail"> Email:</label>
  <input
    type="email"
    id="tremail"
    name="tremail"
    required
    value="{{ trainee.email }}"
  />
  <br /><br />
  <select name="trtrack" id="trtrack">
    {% for track in tracks%} {% if track.id == trainee.trackid.id %}
    <option value="{{track.id}} " selected>{{track.name}}</option>
    {%else%}
    <option value="{{track.id}}">{{track.name}}</option>
    {%endif%} {%endfor%}
  </select>
  <br /><br />
  <!-- <label for="trphoto">Upload Image:</label>
  <input type="file" id="trphoto" name="trphoto" value="{{ trainee.photo }}" /> -->
  <label for="trphoto">Upload Image:</label>
  <input type="file" id="trphoto" name="trphoto" />
  {% if trainee.photo %}
  <br />
  <img
    src="{{ trainee.photo.url }}"
    alt="{{ trainee.name }}"
    width="120"
    style="border: 1px solid rgb(0, 11, 225)"
  />
  {% endif %}

  <br /><br />
  <button>Submit</button>
</form>
{% endblock %}
<!--  -->
{% block title%}Update Trainee{% endblock %}
