{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'CSS/insert.css' %}" />
<h1>Update Instructor {{ trainee.id }}</h1>

<form method="post" enctype="multipart/form-data">
  <!-- ده بتاع الحمايه  -->
  {% csrf_token %}
  <label for="instructorname"> Name: </label>
  <input
    type="text"
    id="instructorname"
    name="instructorname"
    required
    value="{{ instructor.name }}"
  />
  <br /><br />
  <label for="instructoremail"> Email:</label>
  <input
    type="email"
    id="instructoremail"
    name="instructoremail"
    required
    value="{{ instructor.email }}"
  />
  <br /><br />
  <select name="instructortrack" id="instructortrack">
    {% for track in tracks%} {% if track.id == instructor.trackid.id %}
    <option value="{{track.id}} " selected>{{track.name}}</option>
    {%else%}
    <option value="{{track.id}}">{{track.name}}</option>
    {%endif%} {%endfor%}
  </select>
  <br /><br />
  <label for="instructorphoto">Upload Image:</label>
  <input type="file" id="instructorphoto" name="instructorphoto" />
  {% if instructor.photo %}
  <br />
  <img
    src="{{ instructor.photo.url }}"
    alt="{{ instructor.name }}"
    width="120"
    style="border: 1px solid rgb(0, 11, 225)"
  />
  {% endif %}

  <br /><br />
  <button>Submit</button>
</form>
{% endblock %}
<!--  -->
{% block title%}Update Instructor{% endblock %}
