{% extends 'base.html' %} {% load static %} {%block content%}
<h1>Home</h1>
<p class="Home">
  Over 30 years, ITI has kept updating its training portfolio through continuous
  <br />
  monitoring for the future global tech trends, as well as the country’s
  <br />
  national and mega projects, hence; sustaining its graduates’ employment
  <br />
  percentage to 85 prior their graduation.
</p>
<!-- <div class="span">
  <span><a href="{%url 'alltrainee'%}" class="btn-insert">All Trainee</a></span>
  <span><a href="{%url 'alltracks'%}" class="btn-insert">All Track</a></span>
</div> -->
{% endblock %}
<!--  -->
{% block title%}Home{% endblock %}
